{% load static %}
<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
        <a href="{% url 'project:dashboard' pk=request.session.project_id %}" class="navbar-brand">
            <span class="brand-text font-weight-light">{{ request.session.user_details.first_name }} | {{ request.session.project_name }}</span>
        </a>
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="{% url 'project:dashboard' pk=request.session.project_id %}" class="nav-link">Dashboard</a></li>
                <li class="nav-item"><a href="{% url 'project:all-projects' %}" class="nav-link">Projects</a></li>
                <li class="nav-item"><a href="{% url 'task:all-tasks' %}" class="nav-link">Tasks</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown"><a href="{% url 'accounts:logout' %}" class="nav-link">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>