<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projects</title>
    {% include 'frontend/html_includes/main-css.html' %}
</head>

<body class="hold-transition layout-top-nav">
<div class="wrapper">
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">{% if type == 'A' %}Add{% elif type == 'E' %}Edit{% endif %} Project</h1>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a href="javascript:void(0)" onclick="window.history.back()" class="btn btn-secondary mr-3">Back</a>
                        <a href="{% url 'accounts:logout' %}" class="btn btn-default mr-3">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card card-primary">
                            <form id="id_add_edit_project_form"
                                  action="{% if type == 'A' %}{% url 'project:add-project' %}{% elif type == 'E' %}{% url 'project:edit-project' pk=project.id %}{% endif %}"
                                  method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% if type == 'A' %}
                                    <input type="hidden" value="{{ request.session.user_details.id }}" name="owner">
                                {% endif %}
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="id_project_name">Name</label>
                                        <input type="text" class="form-control" name="name" id="id_project_name" value="{% if type == 'E' %}{{ project.name }}{% endif %}" autocomplete="off" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_project_description">Description</label>
                                        <textarea class="form-control" name="description" id="id_project_description" cols="30" rows="4" required>{% if type == 'E' %}{{ project.description }}{% endif %}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_project_date_of_completion">Completion Date</label>
                                        <input type="date" class="form-control" name="date_of_completion" id="id_project_date_of_completion" value="{% if type == 'E' %}{{ project.date_of_completion }}{% endif %}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_project_avatar">Avatar</label> <br/>
                                        <input type="file" id="id_project_avatar" name="avatar" accept="image/*" {% if type == 'A' %}required{% endif %}>
                                        {% if type == 'E' %}
                                            <div class="mt-4">
                                                <a target="_blank" href="{{ project.avatar }}">
                                                    <img width="20%" src="{{ project.avatar }}" alt="{{ project.name }}">
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="button" onclick="formSubmitCommonFunction($(this))" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include 'frontend/html_includes/footer.html' %}

</div>
{% include 'frontend/html_includes/main-js.html' %}
<script>

    var rules = {
        name: {required: true},
        description: {required: true},
    };
    common_form_validation_fn($('#id_add_edit_project_form'), rules, 'form-group');
</script>
</body>
</html>
