{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    {% include 'frontend/html_includes/main-css.html' %}
</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">
    {% include 'frontend/html_includes/top-menu.html' %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">{{ project_data.name }} - Dashboard</h1>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container">
                {% if task_status_data|length > 0 %}
                    <div class="row">
                        <div class="col-lg-2 col-6">
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>{{ task_status_data.total_in_process }}</h3>
                                    <p>Tasks In Process</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-6">
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3>{{ task_status_data.total_pending }}</h3>
                                    <p>Tasks Pending</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-6">
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>{{ task_status_data.total_completed }}</h3>
                                    <p>Tasks Completed</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-6">
                            <div class="small-box bg-secondary">
                                <div class="inner">
                                    <h3>{{ task_status_data.total_tasks }}</h3>
                                    <p>Total Tasks</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Recently Added Tasks</h3>
                            </div>
                            <div class="card-body table-responsive p-0">
                                {% if tasks_data|length > 0 %}
                                    <table class="table table-hover text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for task in tasks_data %}
                                                <tr>
                                                    <td>{{ task.title }}</td>
                                                    <td >{{ task.start_date|date_format }}</td>
                                                    <td>{{ task.end_date|date_format }}</td>
                                                    <td class="{% if task.status == PENDING %}text-warning{% elif task.status == IN_PROCESS %}text-danger{% endif %}">{{ task.status }}</td>
                                                    <td><a href="{% url 'task:edit-task' project_id=request.session.project_id pk=task.id %}?tt=1">Open</a></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <h5 class="text-center m-3">No tasks added. <a href="{% url 'task:add-task' %}">Add Now</a></h5>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
    {% include 'frontend/html_includes/footer.html' %}
</div>

{% include 'frontend/html_includes/main-js.html' %}
</body>
</html>
