{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projects</title>
    {% include 'frontend/html_includes/main-css.html' %}
</head>

<body class="hold-transition layout-top-nav">
<div class="wrapper">
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Select a project to proceed</h1>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a href="javascript:void(0)" onclick="window.history.back()" class="btn btn-secondary mr-3">Back</a>
                        <a href="{% url 'project:add-project' %}" class="btn btn-primary mr-3">Add Project</a>
                        <a href="{% url 'accounts:logout' %}" class="btn btn-default mr-3">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container">
                <div class="row d-flex align-items-stretch">
                    {% for project in projects %}
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch p-3">
                            <div class="card bg-light">
                                <div class="card-header text-muted border-bottom-0"></div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>{{ project.name }}</b></h2>
                                            <p class="text-muted text-sm"><b>About: </b>{{ project.description }}</p>
                                            <ul class="ml-0 mb-0 fa-ul text-muted">
                                                <li class="small">Completion Date: {{ project.date_of_completion|date_format }}</li>
                                                <li class="small">Owner: {{ project.owner.first_name }} {{ project.owner.last_name }}</li>
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <img src="{{ project.avatar }}" alt="user-avatar" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="{% url 'project:edit-project' pk=project.id %}" class="btn btn-sm btn-default float-left">Edit</a>
                                        <a href="{% url 'project:dashboard' pk=project.id %}" class="btn btn-sm btn-success text-left">Open</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
    {% include 'frontend/html_includes/footer.html' %}

</div>
{% include 'frontend/html_includes/main-js.html' %}

</body>
</html>
