{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in</title>
    {% include 'frontend/html_includes/main-css.html' %}
</head>

<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="javascript:void(0)"><strong>Task App</strong></a>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Log in to your account</p>
            <form id="login-form" action="{% url 'accounts:login' %}" method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" name="username" id="id_username" class="form-control" placeholder="Username">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-5">
                    <input type="password" name="password" id="id_password" class="form-control" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary btn-block" onclick="formSubmitCommonFunction($(this))">Log In</button>
                    </div>
                </div>
            </form>

            <p class="mb-0"><a href="{% url 'accounts:register' %}" class="text-center">Create a new account</a></p>
        </div>
    </div>
</div>
{% include 'frontend/html_includes/main-js.html' %}
<script>

    var rules = {
        username: {required: true,},
        password: {required: true,}
    };
    common_form_validation_fn($('#login-form'), rules, 'input-group');
</script>
</body>
</html>
