{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Refresh" content="2; url={% url 'accounts:login' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in</title>
    {% include 'frontend/html_includes/main-css.html' %}
</head>

<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <strong>Successfully Logged Out</strong>
    </div>
    <div class="text-center">
        <a href="{% url 'accounts:login' %}">Login</a>
    </div>
</div>
{% include 'frontend/html_includes/main-js.html' %}
</body>
</html>
