{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>

    {% include 'frontend/html_includes/main-css.html' %}
</head>

<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="javascript:void(0)"><strong>Task App</strong></a>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Register to create an account</p>
            <form id="register-form" action="{% url 'accounts:register' %}" method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" name="first_name" id="id_first_name" class="form-control" placeholder="First Name" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" name="last_name" id="id_last_name" class="form-control" placeholder="Last Name" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-5">
                    <input type="password" name="password2" id="id_password2" class="form-control" placeholder="Confirm Password" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <button type="button" onclick="formSubmitCommonFunction($(this))" class="btn btn-primary btn-block">Register</button>
                    </div>
                </div>
            </form>

            <p class="mb-0"><a href="{% url 'login' %}" class="text-center">Already have an account</a></p>
        </div>
    </div>
</div>

{% include 'frontend/html_includes/main-js.html' %}
<script>
    $.validator.addMethod('password_equal', function(value, element) {
        return $('#id_password').val() === $('#id_password2').val();
    }, "The two passwords does not match");

    var rules = {
        username: {required: true,},
        first_name: {required: true,},
        last_name: {required: true,},
        password: {
            required: true,
            minlength: 8,
            password_equal: true
        },
        password2: {
            required: true,
            minlength: 8,
            password_equal: false
        }
    };

    common_form_validation_fn($('#register-form'), rules, 'input-group');

</script>
</body>
</html>
