{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in</title>
    {% include 'frontend/html_includes/main-css.html' %}
</head>

<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <strong>403 - Permission Denied</strong>
    </div>
    <div class="text-center">
        <a href="javascript:void(0)" onclick="window.history.back()" class="btn btn-default">Back</a>
    </div>
</div>
{% include 'frontend/html_includes/main-js.html' %}
</body>
</html>
