<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tasks</title>
    {% include 'frontend/html_includes/main-css.html' %}
</head>

<body class="hold-transition layout-top-nav">
<div class="wrapper">
    {% include 'frontend/html_includes/top-menu.html' %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">
                            {% if type == 'A' %}Add{% elif type == 'E' %}Edit{% endif %}
                            {% if task_type == TASK %}Task{% elif task_type == SUB_TASK %}Sub Task{% endif %}
                        </h1>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a href="javascript:void(0)" onclick="window.history.back()" class="btn btn-secondary mr-3">Back</a>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card card-primary">
                            <form id="id_add_edit_task_form"
                                  action="{% if type == 'A' %}{% url 'task:add-task' %}{% elif type == 'E' %}{% url 'task:edit-task' project_id=request.session.project_id pk=task.id %}{% endif %}"
                                  method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" value="{{ request.session.project_id }}" name="project">
                                <input type="hidden" value="{{ task_type }}" name="task_type">
                                {% if task_type == SUB_TASK %}
                                    <input type="hidden" value="{{ request.session.current_task_id }}" name="parent_task">
                                {% endif %}
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="id_task_title">Title</label>
                                        <input type="text" class="form-control" name="title" id="id_task_title" value="{% if type == 'E' %}{{ task.title }}{% endif %}" autocomplete="off" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_task_description">Description</label>
                                        <textarea class="form-control" name="description" id="id_task_description" cols="30" rows="4" required>{% if type == 'E' %}{{ task.description }}{% endif %}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_task_start_date">Start Date</label>
                                        <input type="date" class="form-control" name="start_date" id="id_task_start_date" value="{% if type == 'E' %}{{ task.start_date }}{% endif %}" autocomplete="off" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_task_end_date">End Date</label>
                                        <input type="date" class="form-control" name="end_date" id="id_task_end_date" value="{% if type == 'E' %}{{ task.end_date }}{% endif %}" autocomplete="off" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_task_assignee">Assignee</label>
                                        <select name="assignee" id="id_task_assignee" class="form-control" required>
                                            <option value="">Select Assignee</option>
                                            {% for user in user_list %}
                                                <option value="{{ user.id }}" {% if task.assignee.id == user.id %}selected{% endif %}>{{ user.first_name }} {{ user.last_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {% if type == 'E' %}
                                        <div class="form-group">
                                            <label for="id_task_status">Status</label>
                                            <select name="status" id="id_task_status" class="form-control">
                                                <option value="Pending">Pending</option>
                                                <option value="In Process">In Process</option>
                                                <option value="Done">Done</option>
                                            </select>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="card-footer">
                                    <button type="button" onclick="formSubmitCommonFunction($(this))" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include 'frontend/html_includes/footer.html' %}

</div>
{% include 'frontend/html_includes/main-js.html' %}
<script>
    $.validator.addMethod('greaterThan', function(value, element, params) {
            if (!/Invalid|NaN/.test(new Date(value))) {
                return new Date(value) > new Date($(params).val());
            }
            return isNaN(value) && isNaN($(params).val()) || (Number(value) > Number($(params).val()));
        }, 'Must be greater than Start Date.');

    var rules = {
        name: {required: true},
        description: {required: true},
        end_date: { greaterThan: '#id_task_start_date'}
    };
    common_form_validation_fn($('#id_add_edit_task_form'), rules, 'form-group');
</script>
</body>
</html>
