{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tasks</title>
    {% include 'frontend/html_includes/main-css.html' %}
</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">
    {% include 'frontend/html_includes/top-menu.html' %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1 class="m-0">Tasks<a href="{% url 'task:add-task' %}?tt={{ TASK }}" class="btn btn-primary mr-3 float-right">Add Task</a></h1>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">All Tasks</h3>
                            </div>
                            <div class="card-body table-responsive">
                                <table id="datatable" data-server-side="false" data-ajax="{% url 'task:all-tasks' %}?format=datatables&keep=id&task=true&project_id={{ request.session.project_id }}&task_type=1" class="table">
                                    <thead>
                                        <tr>
                                            <th data-data="title" data-width="33%">Title</th>
                                            <th data-data="project.name">Project</th>
                                            <th data-data="assignee.first_name">Assignee</th>
                                            <th data-data="start_date">Start Date</th>
                                            <th data-data="end_date">End Date</th>
                                            <th data-data="status">Status</th>
                                            <th data-default-content='
                                                <a title="Edit" href="javascript:void(0)"><span id="edit_button" class="fa fa-pen mr-2"></span></a>
                                                <a title="Delete" href="javascript:void(0)"><span id="delete_button" data-target="#delete-confirmation-modal" data-toggle="modal" class="fa fa-trash-alt mr-2"></span></a>
                                                <a title="Open Sub Tasks" href="javascript:void(0)"><span id="retrieve_button" class="fa fa-list-ul mr-2"></span></a>'
                                                data-orderable="false" data-sortable="false" data-searchable="false">Action
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include 'frontend/html_includes/footer.html' %}
</div>

{% include 'frontend/html_includes/delete_confirmation_modal.html' with task_type=TASK %}

{% include 'frontend/html_includes/main-js.html' %}

<script>
    render_datatable_function([3, 4]);
    function edit_entity(table_data, table) {
        window.location.href = '/task/project/{0}/edit-task/{1}/?tt={2}'.format('{{ request.session.project_id }}', table_data['id'], '{{ TASK }}')
    }
    function retrieve_entity(table_data, table) {
        var title = table_data['title'];
        var row_id = table_data['id'];
        window.location.href = '/task/sub-tasks/{0}/{1}/'.format(row_id, encodeURIComponent(title))
    }
    function delete_entity(row_id, table) {
        $('#delete-form').attr('action', '/task/delete/{0}/'.format(row_id));
    }
</script>

</body>
</html>
